* {
    margin: 0;
    padding: 0;
  }

body{ 
    padding-top: 30px;
    padding-left:30px;
    font-family: 'Comfortaa';
}

.LeftColumn {
    display:flex;
    height: 20%;
    width: 210px;
    float: left;
    display:inline;
}

.RightColumn {
    width:76%;
    height:20%;
    float: left;
}

.Caption{
    color:grey;
    font-style: italic;
    font-size:12px;
}
.Paragraph {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: justify;
}